<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Crash Course">

{% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
{% else %}
  <meta property="og:title" content="#LearnByDoing | Crash Course">
{% endif %}

<meta property="og:url" content="https://crashcourse.io{{ page.url }}">

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="Learn in-demand technology skills, build a strong resume and prepare for your dream job, all at once by working on projects curated by experts.">
{% endif %}

<meta property="og:image" content="https://crashcourse.io/static/core/img/cc-social.png">
