<footer class="default-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <a href="/" aria-label="Crash Course" class="d-none d-md-block">
          <img id="footer-logo" src="/static/core/img/crashcourse.svg" alt="Crash Course logo"/>
        </a>

        <p class="mt-4">
          Cut luck out of the equation.
          <strong>#LearnByDoing</strong>
        </p>
      </div>
      <div class="col-md-9 order-2">
        <div class="">
          <div class="row">
            <div class="col-md d-none d-md-block">
              <h5 class="small-title blue-text mb-4">Courses</h5>
              <ul>
                <li>
                  <a href="/courses/c-programming-101">C Programming 101</a>
                </li>
              </ul>
            </div>
            <div class="col-md d-none d-md-block">
              <h5 class="small-title red-text mb-4">Resources</h5>
              <ul>
                <li>
                  <a href="/guides/writing-a-great-resume">Writing a Great Resume</a>
                </li>
                <li>
                  <a href="/faq">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="col-md d-none d-md-block">
              <h5 class="small-title light-green-text mb-4">Company</h5>
              <ul>
                <li>
                  <a href="mailto:hello@crashcourse.io">Contact</a>
                </li>
                <li>
                  <a href="mailto:help@crashcourse.io">Need help?</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr id="copyright-ruler"/>
    <div class="row copyright-notice">
      <div class="col-md-6">
        <p>
          &copy; 2018 Crash Course Pvt. Ltd. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 terms-links">
        <p>
          <a href="/terms">Terms of Service</a>
          &amp;
          <a href="/privacy">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
