<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="https://crashcourse.io/static/core/img/cc-twitter.png">
<meta name="twitter:site" content="@CrashCourseHQ">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="#LearnByDoing | Crash Course">
{% endif %}

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="Learn in-demand technology skills, build a strong resume and prepare for your dream job, all at once by working on projects curated by experts.">
{% endif %}
