// Colors
// $primary: #0065FF;
$primary                  : #2C327C;
$light-primary            : #EFF0FF;
$primary900               : #243FE0;
$primary800               : #0065FF;
$primary700               : #0078FF;
$text-color-for-dark-bg   : #EFF7FF; //
// Weights;
$bold-weight              : 500;
$black                    : #000000;
$white                    : #FFFFFF;
$gray                     : #3D3D3D;
$light-gray               : #575757;
$dark-gray                : #303030;
$lightest-gray            : #FAFAFA;
$code-highlight-background: #F8F9FA;
$link-color               : primary700; //
// Our brand colors;
$yellow                   : #fcb400;
$orange                   : #f16522;
$red                      : #DA3A35;
$pink                     : #ec297b;
$sky-blue                 : #078dd8;
$greenish-blue            : #2A91A8;
$light-green              : #80B23C;
$blue                     : #0065FF;
$purple                   : #243FE0;
$light-purple             : #4A46AA;
