@import "colors"; //
// Desktop
//
@media (min-width: 992px) {
  .container-fluid {
    padding-left : 5rem;
    padding-right: 5rem;
  }

  .cc-btn {
    background       : $primary;
    font-weight      : 500 !important;
    border-radius    : 0;
    color            : $white;
    border           : solid 1px $primary;
    padding          : 1rem 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    text-align       : center;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    cursor           : pointer;

    &.full-width {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    &.better-sides {
      padding-left : 3rem;
      padding-right: 3rem;
    }

    &:hover {
      // background        : $primary900;
      // color             : $white !important;
      background        : $white;
      color             : $primary !important;
      -webkit-transition: opacity 0.35s cubic-bezier(.4,0,.2,1);
      transition        : opacity 0.35s cubic-bezier(.4,0,.2,1);
      text-decoration   : none;
    }

    &.inverse {
      background: transparent;
      color     : $primary !important;

      &:hover {
        background: $primary;
        color     : $white !important;
      }
    }

    img {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }

    span {
      display    : -webkit-inline-box;
      display    : -ms-inline-flexbox;
      display    : inline-flex;
      margin-left: 1rem;
    }
  }

  .right-arrow {
    &:after {
      content    : '\2192';
      display    : inline-block;
      margin-left: 10px;
    }
  }

  .hero-img {
    width      : 100%;
    padding    : 0;
    margin-left: 0 !important;
  }

  .order-2 {
    margin-top: 0 !important;
  }

  h1 {
    font-size     : 4.5rem;
    font-weight   : 600;
    margin-bottom : 1.5rem;
    letter-spacing: 0;
  }

  h2 {
    font-size     : 3.5rem;
    font-weight   : 500;
    margin-bottom : 1.5rem;
    letter-spacing: 0;
  }

  h3 {
    font-size     : 2.5rem;
    font-weight   : 500;
    margin-bottom : 1.5rem;
    letter-spacing: 0;
  }

  h4 {
    font-size     : 1.8rem;
    font-weight   : 500;
    margin-bottom : 1rem;
    letter-spacing: 0;
  }

  .btn {
    font-size  : 1.6rem;
    line-height: 2;
  }

  p {
    font-size    : 1.6rem;
    line-height  : 2;
    margin-bottom: 2rem;

    &.subtext {
      // color        : $gray;
      font-size    : 1.7rem;
      // font-weight  : 400;
      line-height  : 2;
      margin-bottom: 2rem;
    }
  }

  .form-control {
    font-size: 1.6rem;
    padding  : 2rem 1rem;
    color    : $black;

    &::-webkit-input-placeholder {
      color    : $light-gray;
      opacity  : 1;
      font-size: 1.4rem;
    }

    &:-ms-input-placeholder {
      color    : $light-gray;
      opacity  : 1;
      font-size: 1.4rem;
    }

    &::-ms-input-placeholder {
      color    : $light-gray;
      opacity  : 1;
      font-size: 1.4rem;
    }

    &::placeholder {
      color    : $light-gray;
      opacity  : 1;
      font-size: 1.4rem;
    }
  }

  .gray-form-control {
    background: $lightest-gray;
  }

  .padding-all-sides {
    padding: 2.5rem;

    &.pad-big-size {
      padding: 5rem;
    }
  }

  .margin-all-sides {
    margin: 2.5rem;

    &.margin-big-size {
      margin: 5rem;
    }
  }

  .cc-alert {
    font-size: 1.4rem;
    padding  : 0.75rem 1.25rem;
  }

  .razorpay-payment-button {
    padding: 1rem 1.5rem;
  }

  section {
    padding-top   : 4rem;
    padding-bottom: 4rem;

    &#hero {
      padding-top: 4rem;
    }
  }

  .container {
    padding-left : 2.5rem;
    padding-right: 2.5rem;
  }

  #logo {
    height: 3.5rem;
  }

  .navbar {
    padding: 3rem 0;
  }

  .nav-menu {
    list-style-type   : none;
    padding           : 0;
    margin            : 0;
    text-align        : center;
    -webkit-transition: opacity 0.35s cubic-bezier(.4,0,.2,1);
    transition        : opacity 0.35s cubic-bezier(.4,0,.2,1);
    font-size         : 1.5rem;

    li {
      display : inline-block;
      position: relative;

      & > a {
        padding        : 1rem 1.5rem;
        text-decoration: none;
        display        : inline-block;
        font-weight    : 500;
        color          : $primary;

        &:hover {
          color: inherit;
        }
      }

      .nav-sec-cta {
        margin-left: 1.5rem;
      }

      .active {
        &:before {
          content         : "";
          position        : absolute;
          width           : 80%;
          height          : 2px;
          bottom          : 10%;
          left            : 10%;
          background-color: $primary !important;
          visibility      : visible;
        }
      }

      .nav-link-ltr {
        &:before {
          content                 : "";
          position                : absolute;
          width                   : 80%;
          height                  : 2px;
          bottom                  : 10%;
          left                    : 10%;
          background-color        : $primary;
          // visibility              : hidden;
          -webkit-transform       : scaleX(0);
          transform               : scaleX(0);
          // -webkit-transition: all 0.3s ease-in-out 0s;
          // transition        : all 0.3s ease-in-out 0s;
          transition              : transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
          transition              : -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
          -webkit-transition      : -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
          transition              : transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
          transform-origin        : right;
          -webkit-transform-origin: right;
        }

        &:hover {
          &:before {
            // visibility              : visible;
            -webkit-transform       : scaleX(1);
            transform               : scaleX(1);
            transform-origin        : left;
            -webkit-transform-origin: left;
          }
        }
      }
    }

    .account-settings-dropdown {
      padding-left      : 1rem;
      padding-right     : 1rem;
      -webkit-box-shadow: 0 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06);
      box-shadow        : 0 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06);
      border            : none;
      border-radius     : 0.5rem;

      .account-details {
        padding: 1rem 2.5rem;
        width  : -webkit-max-content;
        width  : -moz-max-content;
        width  : max-content;

        .details-name {
          display    : block;
          font-size  : 1.6rem;
          font-weight: 500;
        }

        .details-email {
          display  : block;
          font-size: 1.4rem;
          color    : $gray;
        }

        .details-account-status {
          display  : block;
          font-size: 1.4rem;
        }
      }

      &.dropdown-menu {
        right: 0;
        left : inherit;
      }

      .dropdown-item {
        padding        : 1rem 2.5rem;
        text-decoration: none;
        display        : -webkit-box;
        display        : -ms-flexbox;
        display        : flex;
        font-weight    : 500;
        font-size      : 1.4rem;

        span {
          display: inline-block;

          &.iconic {
            margin-right: 1.5rem;
          }
        }

        img {
          display     : inline-block;
          margin-right: 1.5rem;
        }

        svg {
          display     : inline-block;
          margin-right: 1.5rem;
        }
      }
    }
  }

  .card-appearance {
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-shadow        : 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    margin-left       : -20%;
    margin-right      : -20%;
  }

  .payment-section {
    .card-appearance {
      margin-left : 0;
      margin-right: 0;
    }
  }
}
