<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title %}{{ page.title }}{% else %}#LearnByDoing{% endif %} | Crash Course
    </title>

    {% include core/_general_seo_tags.html %}
    {% include core/_facebook_seo_tags.html %}
    {% include core/_twitter_seo_tags.html %}

    {% include core/_head_css_tags.html %}
    {% include core/_head_scripts.html %}

    {% if page.layout == "classroom" %}
      {% include classroom/_classroom_head_css.html %}
    {% endif %}

    {% if page.head_css_tags %}
      {{ page.head_css_tags }}
    {% endif %}

    {% if page.head_js_tags %}
      {{ page.head_js_tags }}
    {% endif %}

  </head>

  <body>
    {% include core/_ie9_warning.html %}
    {% include core/_header.html %}

    <main>
      {{ page.output }}
    </main>

    {% include core/_mobile_menu_scripts.html %}
    {% include core/_footer.html %}
    {% include core/_footer_scripts.html %}

    {% if page.footer_scripts %}
      {{ page.footer_scripts }}
    {% endif %}

    {% include core/_analytics.html %}
  </body>
</html>
